version: "1.2"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
      - "3000:3000"
    environment:
      - ENV=development
    volumes:
      - .:/app
    command: npm run dev
